@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-flow: column;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/* Header */

.header {
    background: #25B2B2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header > .logo {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 2.2em;
    padding-right: 10px;
}

.header > .logo span {
    color: #002f2f;
}

.header > .menu {
    position: relative;
    width: 50px;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    height: 40px;
}
.header > .menu:before {
    content: "";
    position: absolute;
    top: 9px;
    width: 100%;
    border-top: 7px solid #fff;
}

.header > .title {
    display:none;
}

/* Player */
.player {
    /* flex: 1 70px; */
    display: flex;
    background: #002F2F;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.btn.play {
    background: no-repeat center/100% url(../assets/play.svg)
}
.btn.pause {
    background: no-repeat center/100% url(../assets/pause.svg)
}
.btn.back {
    background: no-repeat center/50% url(../assets/prev.svg)
}
.btn.forward {
    background: no-repeat center/50% url(../assets/next.svg)
}


/* Common */

.title {
    font-size: 1.5em;
    color: #fff;
    padding: 10px;
}

.btn {
    height: 60px;
    width: 60px;
    border: none;
}