body {
    height: 100%;
}

#player {
    border: solid 1px green;
    border-radius: 3px;
    margin: 5px;
    width: 100%;
    min-height: 150px;
}

.logo {
    height: 50px;
    width: auto;
}

#header, #content, #audio-control {
    display: flex;
    flex-direction: row;
}
#header {
    margin: 0px 10px;
    justify-content: space-between;
    align-items: center;
}

#content {
    margin: 0px 10px;
    flex-wrap: wrap;
}
#audio-control {
    flex: 4 0%;
}
#back, #forward {
    flex: 1 0px;
}
#back {
    margin-right: 10px;
}
#forward {
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
}
@media all and (max-width: 600px) {
    #audio-control {
        flex: 1 100%;
        margin-bottom: 10px;
    }

    #back {
        order: 4;
        flex: 1 1;
    }
    #forward {
        order: 5;
        flex: 1 1;
    }
}

#audio-bar {
    position: relative;
    height: 30px;
    width: 100%;
    margin: 0px 10px;
}
#progress {
    position: absolute;
    bottom: 5px;
    height: 20px;
    width: 100%;
    background: gray;
    border-radius: 10px;
}
#progress-bar {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: lightgray;
}

#illustration {
    border: solid 1px black;
    border-radius: 3px;
    margin: 5px;
    width: 100%;
    height: 1fr;
}