body {
    height: 100%;
    margin: 0px;
    padding: 10px;
}

.player {
    border: solid 1px green;
    border-radius: 3px;
    margin: 5px;
    min-height: 150px;
}

.logo {
    height: 50px;
    width: auto;
}

.header, .content, .audio-control {
    display: flex;
    flex-direction: row;
}
.header {
    margin: 0px 10px 10px 10px;
    justify-content: space-between;
    align-items: center;
}

.content {
    margin: 0px 10px;
    flex-wrap: wrap;
}
.audio-control {
    flex: 4 0%;
    margin-bottom: 10px;
}
.back, .forward {
    flex: 1 0px;
    margin-bottom: 10px;
}
.back {
    margin-right: 10px;
}
.forward {
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
}
@media all and (max-width: 600px) {
    .audio-control {
        flex: 1 100%;
    }

    .back {
        order: 4;
        flex: 1 1;
    }
    .forward {
        order: 5;
        flex: 1 1;
    }
}

/****** Audio Bar ******/

.audio-bar {
    position: relative;
    height: 30px;
    width: 100%;
    margin: 0px 10px;
}
.progress {
    position: absolute;
    bottom: 5px;
    height: 20px;
    width: 100%;
    background: gray;
    border-radius: 10px;
}
.progress-bar {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background: lightgray;
}

/****** illustration ******/

.illustration {
    border: solid 1px black;
    border-radius: 3px;
    margin: 5px;
}

/****** Buttons ******/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .btn:hover,
  .btn:focus,
  .btn.focus {
    color: #333;
    text-decoration: none;
  }